.card {
  //FUNCTIONALITY:
  perspective: 150rem; // this property in general helps the transition to looks smoother.
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  margin: 1rem;
  //   margin-left: 19rem;

  //   @include respond(big-desktop) {
  //     max-width: 50%;
  //   }

  &__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    // background-color: $color-white;

    &--front {
      background-color: $color-white;
    }
    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary,
          $color-tertiary
        );
      }
    }
  }

  &__rotate--front {
    transform: rotateY(-180deg);
  }
  &__rotate--back {
    transform: rotateY(0deg);
  }

  //FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    overflow: hidden;
    height: 23rem;
    background-blend-mode: screen; // This determains how two background images blend or mix with eachother
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary,
          $color-tertiary
        ),
        url(../../src/assets/images/slot-3.jpg);
    }
  }

  &__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    text-align: right;
    position: absolute;
    top: 14rem; //12
    right: 2rem;
    width: 60%; //75
  }

  &__heading-span {
    padding: 1rem 1.5rem; // 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.85),
        rgba($color-tertiary, 0.85)
      );
    }
  }

  &__details {
    padding: 2rem;
    @include respond(phone) {
    }
    @include respond(big-desktop) {
      padding: 3rem;
    }

    ul {
      list-style: none;
      width: 85%;
      margin: 0 auto;

      li {
        // text-align: center;
        text-align: left;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  //BACK SIDE STYLING

  &__back-details {
    position: absolute;
    @include center;
    width: 95%;

    &--anchors {
      display: inline-block;
      gap: 3rem;
      //   color: $color-white;
      margin: 1rem;
    }

    small {
      color: $color-white;
    }

    h2 {
      color: $color-white;
      font-size: $fs-big;
    }

    li {
      align-self: flex-start;
      text-align: left;
    }
  }
}

.loader {
  animation: spin-animation 5s steps(7);
  display: block;
  font-size: 12rem;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
