$color-primary: #ecd1a5;

$color-secondary: #ce8e47;

$color-tertiary: #b46c22;

$color-quaternary: #843802;

$color-grey-light: #f0f2f5;
$color-grey-light-1: #d5dbdb;
$color-grey-light-2: #ebefef;

$color-grey-dark: #424949;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$fs-small: 1.5rem;
$fs-medium: 2rem;
$fs-big: 2.5rem;
$fs-huge: 3rem;

//#ffb900, #ff7730
